
h1,h2,h3,h4,h5,ul,li,ol{
  list-style: none;
  margin: 0px;
  padding: 0px;
}
  


#warn {
 width: 500px;
 border: 1px solid #E3E3E3;
 min-height: 200px;
 font-size: 18px;
 display: none;
}
#warn .box {
 width: inherit;
 height: inherit;
}


  

.success.box  {
  background: green;
  color: #FFF;
}
.error.box {
  background: red;
  color: #FFF;
}

.container {
  width: 980px;
  margin: 0 auto;
  min-height: 500px;
}

.header {
  background: #F9F9F9;
  border-bottom: 1px solid #E3E3E3;
  display: none;
}
.header .container {
  min-height: auto;
}
.footer {
  display: none;
}
.footer .container {
  min-height: auto;
}

#container {
  display: none;
}
.content-box {
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-margin-box {
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-box {
  border: 1px solid #E3E3E3;
  padding: 10px;
  background: #F5F5F5;
}
.form-box textarea {
  width:inherit;
}
.form-box legend {
  width: 100%;
}
.form-box .img-type {
  position: relative;
}
.form-box .img-type .img {
   position: absolute;
   left: 0px;
   top: 5px;
}
.img-button img {
  float: left;
  width: 24px;
  height: 24px;
}
.img-button .content {
  float: left;
  margin-left:4px;
  font-size: 12px !important;
}
.medium-button {
  font-size: 13px;
}

.big-button { 
  font-size: 18px !important;
}
.big-button img {
  width:86px;
  height: 86px;
  float: left;
}
.big-button .content {
  float: left;
}
 





.nav-links {
  width: 100%;
}
.nav-links li {
  float: left;
  margin-right: 5px;
}
.sidebar-message {
   border-left: 1px solid #E3E3E3;
   min-height: 600px;
   font-size: 12px;
}
.gci-canned-replies textarea {
  width: 100%;
}
.button-list li {
  float: left;
  margin-right: 10px;
}
.button-list {
  clear: both; 
}

.status { 
    cursor: pointer;
}

.no-msg {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.no-msg.box {
  border: 1px solid #E3E3E3; 
  border-radius: 7px;
  padding: 20px;
}

.clear {
  clear: both;
}
.form-box label {
  width: 100%;
}
.form-box textarea  {
  width: 100%;
}
.form-box input {
  width: 100%;
}
.form-box button {
  font-size: 14px;
} 
.form-box p {  
  width: 100%;
}
.canned-replies {
  padding: 10px;
}
.canned-replies li {
  background:#F5F5F5;
  margin-bottom: 5px;
}
 
.scroll-box {  
  background: #FFF;
  border: 1px solid #E3E3E3;
  border-radius: 7px;
  min-height: 200px;
  overflow-y: scroll;
}
.email-editor {
}
a.blue {
  cursor: pointer;
  color: blue;
}

.gci-messages-list li {
   border: 1px solid #E3E3E3;
   background: #FFF;
   padding: 10px;
   margin-bottom: 5px;
}
 



/* Editor styling */
/* borrowed from: http://textangular.com/css/style.css */

.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
	margin-bottom: 5px;
}

.ta-editor, .white-box {
	padding: 10px;
	background-color: #FFF;
	border: 1px solid #EEE;
}
.message-iframe {
  width: auto;
  height: auto;
}
